@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');
font-face{
    font-family: "Raleway";
    src: url("Fonts/Inter/static/Inter-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    color: blue;
}

html,body{
    margin: 0;
    padding: 0;
}
.main-header{
    background-image: url(Images/Vergil_DMC4_SpecialEdition.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    padding-bottom: 30px;
}
.nav ul{
    margin: 0;
}
.nav li{
    display: inline;
}
.nav a{
    display: inline-block;
    padding: .7em;
    color: white;
    text-decoration: none;
}
.main-nav{
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.nav a:hover{
    background-color: rgba(255,255, 255, 0.3);
}
.VergilName{
    text-align: center;
    margin: 0;
    font-size: 4em;
    color: white;
    font-family: "Raleway";
    font-weight: normal;
}
.VergilNameLarge{
    font-size: 7em;
}
.content-section{
    margin-bottom: 3em;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.section-header{
    font-family: 'Ubuntu', sans-serif;
    color: blue;
    text-align: center;
    font-size: 2.5em;
}
.vergil_img{
    float: right;
    height: 300px;
    width: 300px;
    margin: 25px;
    border-radius: 5%;
}
.VergilChair{
    float: left;
    height: 300px;
    width: 300px;
    margin: 25px;
    border-radius: 15%;
}
.VergilFace{
    float: right;
    height: 300px;
    width: 300px;
    margin: 5px;
    border-radius: 25%;
}
.dmc3{

    height: 300px;
    width: 300px;
    margin: 25px;
    border-radius: 5%;
}
.dmc5{

    height: 300px;
    width: 300px;
    margin: 25px;
    border-radius: 5%;
}
.beo{

    height: 300px;
    width: 300px;
    margin: 25px;
    border-radius: 5%;
}
.do{

    height: 300px;
    width: 300px;
    margin: 25px;
    border-radius: 5%;
}
.main-footer{
    background-color: #4f4cff;
}
.main-footer-container{
    display: flex;
    align-items: center;
}
.main-footer-container ul{
    text-align: end;
    flex-grow: 1;
}
.footer-nav li{
    padding: 0 .5em;
}
.footer-nav img{
    height: 50px;
    width: 50px;
}

.grid div{
    width: 20px;
    height: 20px;
}


.player{
    background-color: blue;
    border: 100%;
}

.grid{
    width: 500px;
    height: 400px;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}


.player{
    background-color: rgb(44, 0, 241);
    border-radius: 10%;
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 250px;
    left: calc(50% - 25px);
}

.coin{
    width: 30px;
    height: 30px;
    background-color: rgb(243, 243, 0);
    position: absolute;
    border-radius: 50%;
}

.time{
    text-align: center;
}

.score{
    text-align: center;
}

.highscore{
    text-align: center;
}

.btn{
    margin-left: 895px;
}